<!DOCTYPE html>
<html lang="en">
	<!-- CSS -->
	<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/normal.css" rel="stylesheet">

	<!-- Script -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

	<head>
		<title>MAWILE</title>
	</head>
	
	<body>
		<!-- Header untuk menu responsive -->
		<div id="header1">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<!-- Jumlah garis -->
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<img src="img/Mega-Mawile.png" class="img-responsive" alt="Responsive image" width="50px" height="50px">
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Normal</a></li>
							<li><a href="/interactive">Interactive</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		
		<!-- Header untuk judul -->
		<div id="header2">
			<h3 class="text-center">HELP<h3>
		</div>
		
		<div id="content">
			<div class="row">
				<div class="col-sm-offset-3 col-md-6">
					<h4><strong>Membuat Inverted File</strong></h4>
					<h4>1. Pada menu home, masukkan file-file yang diinginkan dengan cara mengisi absolute path pada area yang telah disediakan.</h4>
					<h4>2. Pilihlah dari berbagai pilihan yang ada untuk menentukan metode TF, IDF, normalization, dan stemming.</h4>
					<h4>3. Klik button "Indexing".</h4>
					
					<br>
					<h4><strong>Mode Experimental</strong></h4>
					<h4>1. Pada menu home, masukkan file-file yang diinginkan dengan cara mengisi absolute path pada area yang telah disediakan.</h4>
					<h4>2. Pilihlah dari berbagai pilihan yang ada untuk menentukan metode TF, IDF, normalization, dan stemming.</h4>
					<h4>3. Klik button "Run".</h4>
					
					<br>
					<h4><strong>Mode Interactive</strong></h4>
					<h4>1. Pada menu interactive, masukkan query pada area yang telah disediakan. Query bebas/tidak ada aturan.</h4>
					<h4>2. Klik button "Submit".</h4>
					
				</div>
			</div>
		</div> <!-- Akhir dari div id="content" -->
	</body>
</html>